<div class="cuadricula">
    <div class="card" style="width: 18rem;" *ngFor="let heroe of heroes">
        <img src="{{ heroe.thumbnail.path + '.' +heroe.thumbnail.extension }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ heroe.name }}</h5>
          <p class="card-text">{{ heroe.description }}</p>
          <button class="btn btn-primary" (click)="removerDeFavoritos(heroe.id)">Remover de Favoritos</button>
        </div>
      </div>
</div>